<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body data-ng-app="demoApp" id="#top">

  <section id="pagewrap">
  <div data-ng-controller="AuthController as globalAuth" data-ng-init="globalAuth.getEmail()">
    <p data-ng-if="globalAuth.email">Hello: {{globalAuth.email}} <a href data-ng-click="globalAuth.logout()">Logout</a></p>
    <main data-ng-view>
    </main>
  </div>



	<div>
		<div class="forecast-list" data-ng-controller="ForecastController as forecastctrl" data-ng-init="forecastctrl.getAll()">
			<main-widget data-ng-repeat="forecast in forecastctrl.forecasts" data-forecast="forecast">
				<li>{{forecast.day}}</li>
			</div>
		<h1>Is this thing on?</h1>
    <h2 class="weather">MY WEATHER TEMP HERE</h2>
		</div>
  </div>

	<div data-ng-controller="MapController as mapctrl" class="map-div" id="map">
	    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
	</div>

  <section id="favorite">
    <h2>FAVORITE TRAILS</h2>
    <div class="trail-list" data-ng-controller="TrailsController as trailsctrl" data-ng-init="trailsctrl.getAll()">
    <default-trail-list-item data-ng-repeat="trail in trailsctrl.trails" data-trail="trail">
    <li>{{trail.trailName}} | {{trail.distance}} miles | rating: {{trail.difficulty}}</li>
    </div>
  </section>

  <aside id="all-trails">
    <h2>ALL TRAILS</h2>
    <div class="trail-list" data-ng-controller="TrailsController as trailsctrl" data-ng-init="trailsctrl.getAll()">
    <default-trail-list-item data-ng-repeat="trail in trailsctrl.trails" data-trail="trail">
    <li>{{trail.trailName}} | {{trail.distance}} miles | rating: {{trail.difficulty}}</li>
    </div>
  </aside>

  <footer>
    <section>
      <img class="footer-buttons" src="./about.png" />
      <img class="footer-buttons" src="./facebook.png" />
      <img class="footer-buttons" src="./tweet.png" />
      <a href="#top" id="scrollup"><img class="footer-buttons" src="./up.png" /></a>
    </section>
  </footer>
</section>

  <script src="./bundle.js"></script>
  <a target="_blank">
</body>
</html>
