html {
  background: url("./mount-rainier.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
.mt-rainier {
  width: 100%;
  height: 0 auto;
}

.auth-view {
  background-color: #4EBD51;
  font-size: .8em;
  text-align: right;
  padding-right: 1%;
  input {
    height: 15px;
    width: 80px;
  } 
}

.trail-list {
  font-size: .8em;
  background-color: rgba(164, 191, 208, 0.5);
  height: 80%;
  width: 25%;
  overflow: scroll;
  margin: 3% 0 0 3%;
}

.footer-buttons {
  height: 40px;
}