html {
  background: url("./mount-rainier.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

.trail-list {
  font-size: 1em;
  background-color: rgba(164, 191, 208, 0.5);
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 1% 0 0 1%;
  list-style-type: none;
  li {
    padding-bottom: 5px;
  }
}

.auth-view {
  background-color: #4EBD51;
  font-size: 1em;
  height: 10%;
  padding: 5px 15px;
  text-align: right;
  input {
    height: 15px;
    width: 80px;
  }
}

.footer-buttons {
  height: 40px;
}

.weather {
  background-color: rgba(164, 191, 208, 1)
}
