html {
  background: url("./mount-rainier.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

h1 {
  font-size: 3em;
  font-family: Didot;
  color: #FFF;
}

h3 {
  font-size: 1.5em;
  font-family: Didot;
  font-weight: bold;
  padding-top: 5%;
}

p {
  font-size: 1.2em;
  font-family: Didot;
  font-weight: bold;
  padding-top: 5%;
}

footer {
  background-color: rgba(164, 191, 208, 0.5);
  p {
    font-size: 1em;
    padding: 5px;

.trail-list {
  font-size: 1em;
  background-color: rgba(164, 191, 208, 0.5);
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 1% 0 0 1%;
  list-style-type: none;
  li {
    padding-bottom: 5px;
  }
}

.footer-buttons {
  height: 40px;
}

.weather {
  background-color: rgba(164, 191, 208, 1)
}
