#pagewrap {
  padding: 5px;
  height: 90%;
  width: 90%;
  margin: 20px auto;
}

.angular-google-map-container {
  height: 400px;
}

.start-content {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.weather {
  height: 20%;
  padding: 5px 15px;
}

#start-page-wrap {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
}
header {
  height: 100px;
  padding: 0 15px;
}

.auth-view {
  width: 41%;
  margin-left: 30%;
  margin-top: 0px;
}

footer {
  clear: both;
  padding: 0 15px;
}

#all-trails {
  clear: both;
  height: 25%;
  width: 90%;
  padding: 0 15px;
  float: left;
}

.map-div {
  height: 30%;
  width: 40%;
  float: left;
  padding: 5px 15px;
}


#favorite {
  height: 30%;
  width: 40%;
  float: left;
  padding: 5px 5px;
  margin: 0px 5px 5px 5px;
}

/***MEDIA QUERIES**/
/* for 980px or less */
@media screen and (max-width: 980px) {

  #pagewrap {
    width: 94%;
  }

  .map-div {
    width: 41%;
    padding: 1% 4%;
  }

  #favorite {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }
  #all-trails {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }

  .weather, footer {
    padding: 1% 4%;
  }

  #start-page-wrap  {
    width: 94%;
  }
  .start-content {
    width: auto;
    margin-left: 20%;
    padding: 1% 4%;
  }
  .auth-view {
    width: 50%;
    margin-left: 30%;
  }

  header, footer {
    padding: 1% 4%;
  }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

  .map-div {
    width: auto;
    float: none;
  }

  #favorite {
    width: auto;
    float: none;
    margin-left: 0px;
  }

  #all-trails {
    width: auto;
    float: none;
  }

  .start-content {
    width: auto;
    float: none;
  }
  
  .auth-view {
    width: auto;
    float: none;
    margin-left: 20%;
    div {
    margin-left: 5px;
    }
    input {
    height: 15px;
    width: auto;
    }
  }
}

/* for 480px or less */
@media screen and (max-width: 480px) {

  header {
    height: auto;
  }

  h1 {
    font-size: 2.5em;
  }

  .weather {
    height: auto;
   }

  #all-trails {
    height: 20%;
  }

  footer {
    height: 50px;
    width: 100%;
  }
  .auth-view {
    width: auto;
    div {
    margin-left: 5px;
    }
    input {
    height: 15px;
    width: auto;
    }
  }
}

.map-div {
  background: #f8f8f8;
}

#all-trails, #favorite, .start-content {
  background-color: rgba(164, 191, 208, 0.5);
}

.weather, .map-div, #favorite, #all-trails, header, .start-content, .auth-view {
  margin-bottom: 5px;
}

#start-page-wrap, header, .start-content, #pagewrap, .weather, .map-div, #favorite, #all-trails, footer, header, .auth-view, .fwh-title, .start-content, h3, p {
  border: solid 1px #ccc;
}
