.trail-list {
  font-size: .8em;
  background-color: rgba(164, 191, 208, 0.5);
  height: 80%;
  width: 25%;
  overflow: scroll;
  margin: 3% 0 0 3%;
}
.fwh-title {
  max-width: 70%;
}
.auth-view {
  background-color: #4EBD51;
  font-size: 1em;
  width: 320px;
  height: auto;
  margin: 15%;
  div {
    margin-left: 30px;
  }
  input {
    height: 15px;
    width: 160px;
  }
}
