<section class="auth-view">
  <form name="authform" data-ng-submit="authctrl.authenticate(authctrl.user)">

    <a data-ng-href="/#/{{authctrl.signup? 'signin':'signup'}}">{{authctrl.signup ? 'New User':'Existing User'}} || {{(authctrl.signup ? 'Existing User':'New User')}}</a>
    <label for="email">Email:</label>
    <input type="text" required data-ng-model="authctrl.user.email" placeholder="email">

    <label for="password">Password:</label>
    <input type="password" required data-ng-model="authctrl.user.password" placeholder="min. 8 chars">

    <label data-ng-if="authctrl.signup" for="confirmation">Confirmation:</label>
    <input data-ng-if="authctrl.signup" required type="password" data-ng-model="authctrl.user.confirmation">

    <button type="submit" data-ng-disabled="authform.$invalid">{{authctrl.buttonText}}</button>
  </form>
</section>
<div class="trail-list" data-ng-controller="TrailsController as trailsctrl" data-ng-init="trailsctrl.getAll()">
  <default-trail-list-item data-ng-repeat="trail in trailsctrl.trails" data-trail="trail">
  <li>{{trail.loc}} | {{trail.length}} miles | rating: {{trail.difficulty}}</li>
</div>
